<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
   <appender name="console" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d %-5p [%c{1}:%M] %m%n" />
      </layout>
   </appender>
   <appender name="DebugRollingFileAppender" class="org.apache.log4j.RollingFileAppender">
	 <param name="File" value="raft.log" />
	 <param name="MaxFileSize" value="1000MB"/>
         <param name="MaxBackupIndex" value="10" />
	<layout class="org.apache.log4j.PatternLayout">
        	<param name="ConversionPattern" value="%d %-5p [%c{1} %M] %m%n" />
        </layout>
   </appender>

   <logger name="org.jgroups" additivity = "true">
      	<level value="info"/>
       <appender-ref ref="console" />
   </logger> 
	<root>
       <priority value="DEBUG" />
       <appender-ref ref="console" />
    </root>
</log4j:configuration>
